/* Custom hero section
-------------------------------------------------------------- */
.hero {
  // padding-bottom: 100px;
  margin-top: 110px;
  margin-bottom: 100px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 132%;
    background-image: url("images/mesh-bg.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 36%;
  }

  .kt-row-layout-inner {
    .kt-row-column-wrap {
      align-items: center;
    }
  }
}

.hero-left {
  height: 100%;
  justify-self: center;
}

.hero-right {
  padding-top: 35px;
}

.hero-group {
  position: relative;

  // &::before {
  //   content: "";
  //   background-color: rgba(#fff5ee, 0.5);
  //   width: 500px;
  //   height: 652px;
  //   position: absolute;
  //   top: -40px;
  //   left: -104px;
  // }

  .wp-block-group__inner-container {
    position: relative;

    .floating-image {
      margin: 0;
      position: absolute;
      top: 110px;
      left: 0;
    }

    figure {
      img {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.crocus-divider {
  position: relative;

  @include breakpoint(766px) {
    &::after {
      content: "";
      background-image: url("images/White_crocus.png");
      position: absolute;
      bottom: -160px;
      left: 0;
      width: 425px;
      height: 550px;
    }

    .kt-block-spacer {
      height: 300px !important;
    }
  }
}

// .hero-group::before {
//   content: "";
//   background-color: #fff5ee;
//   width: 500px;
//   height: 600px;
//   position: absolute;
//   top: -40px;
//   left: -60px;
// }

// .hero-group .wp-block-group__inner-container {
//   position: relative;
// }

// .hero-group .wp-block-group__inner-container figure img {
//   -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
// }

// .hero-group .wp-block-group__inner-container .floating-image {
//   margin: 0;
//   position: absolute;
//   top: 110px;
//   left: 0;
// }
