.home {
  #masthead {
    background: white !important;
  }
}

.site-header-row-container-inner {
  padding-top: 1.8rem;
  padding-bottom: 0;
}

.site-branding {
  .site-title {
    color: transparent !important;
    position: relative;

    &::before {
      content: "";
      background-image: url("images/lilac-logo-purple.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -36px;
      left: 0;
      width: 200px;
      height: 80px;
      z-index: 1;
    }

    .home & {
      &::before {
        top: 0;
        width: 250px;
        height: 114px;
      }
    }
  }
}
