/* Custom hero section
-------------------------------------------------------------- */
.hero {
  background-image: url("images/mesh-bg.svg");
  background-position: 159% 0;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.hero-group {
  position: relative;

  // &::before {
  //   content: "";
  //   background-color: rgba(#fff5ee, 0.5);
  //   width: 500px;
  //   height: 652px;
  //   position: absolute;
  //   top: -40px;
  //   left: -104px;
  // }

  .wp-block-group__inner-container {
    position: relative;

    .floating-image {
      margin: 0;
      position: absolute;
      top: 110px;
      left: 0;
    }

    figure {
      img {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// .hero-group::before {
//   content: "";
//   background-color: #fff5ee;
//   width: 500px;
//   height: 600px;
//   position: absolute;
//   top: -40px;
//   left: -60px;
// }

// .hero-group .wp-block-group__inner-container {
//   position: relative;
// }

// .hero-group .wp-block-group__inner-container figure img {
//   -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
// }

// .hero-group .wp-block-group__inner-container .floating-image {
//   margin: 0;
//   position: absolute;
//   top: 110px;
//   left: 0;
// }
